SELECT type, level, is_upgrading, upgrade_completion_time, 
       CASE 
         WHEN upgrade_completion_time <= NOW() THEN 'TERMINADO'
         ELSE 'ACTIVO'
       END as estado_real 
FROM buildings 
WHERE village_id = 'b4427eec-6eb0-4fb3-9ca4-8e49d28ce2a2' 
AND is_upgrading = true;